<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="keywords" content="无虑"/>
    <meta name="description" content="无虑"/>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div v-if=" page == 'login' ">
        <h1>登陆</h1>
        <button @click=" page = 'shangpin' "> 登陆 </button>
        <button @click=" page = '' "> 注册 </button>
    </div>
    <div v-else-if=" page == 'shangpin' ">
        商品
        <ul>
            <li v-for="item in goods">
                {{ item.name }} 价格 : {{item.jiage}}
                <button @click="page = 'xiangqing'"> 购买 </button>
            </li>
        </ul>
    </div>
    <div v-else-if=" page == 'xiangqing' ">
        <p><input type="text" v-model="star"> </p>
        评价 : <span v-for="item in score()"> {{ item }} </span>
        <button @click="page = 'jiesuan'"> 结算 </button>
    </div>
    <div v-else-if="page == 'jiesuan'">
        <p v-for="item in goods">
            <input @click="checkbox(item)" type="checkbox">
            商品 : {{ item.name }} <br>
            <button @click="jine(0,item)">-</button>
            数量 : <input :value="item.num || 0" type="number">
            <button @click="jine(1,item)">+</button>
            <br>
            单价 : {{ item.jiage }}
            金额 : {{ item.jiage * item.num | danwei }}
        </p>
        总金额 : {{ all | danwei }}
    </div>
    <div v-else>
        <h1>注册</h1>
        <button @click="page = 'login'"> 登陆 </button>
    </div>
</div>
<script>
    var app = new Vue({
      el: '#app',
      data: {
        page: 'login',
        goods: [
          { name:'肥皂' ,jiage: 10},
          { name:'洗衣粉' ,jiage: 20},
          { name:'牙刷' ,jiage: 30}
        ],
        star: 5.9
      },
      filters: {
        danwei: function(val){
          if(isNaN(val)){
              val = 0;
          }
//          console.log(arguments);
          return val + '元'
        }
      },
      methods: {
        score: function(){
          // ☀ = 1颗星   ★ = 半颗星  ☆ = 0星
          var result = [];
          var score = Math.floor(this.star); // 获取评分正数部分
          var xiaoshu = (this.star - score) >= 0.5;
          for (var i =0;i< score; i++) {
            result.push('☀')
          }
          if(xiaoshu){
            result.push('★')
          }
          while (result.length < 10){
            result.push('☆')
          }
          return result
        },
        jine: function (num,item){
          if(!item.num){
            // 往item里设置 num属性 值是0
            this.$set(item,'num',0)
          }
          if(num === 0){
            item.num--
          }else if(num === 1){
            item.num++
          }
        },
        checkbox: function(item){
          this.jine(null,item);
          if(typeof item.active === 'undefined'){
            this.$set(item,'active',false)
          }
          item.active = !item.active;
        }
      },
      computed: {
        all: function(){
          var all = 0;
          for(var i in this.goods){
            if(this.goods[i].active){
              all += this.goods[i].jiage * this.goods[i].num
            }
          }
          return all
        }
      }
    })
</script>
</body>
</html>	